/* ColorGrid.css */
.color-grid {
    display: flex;
    flex-direction: column;
    max-height: 10px;
    margin-left: 300px;
    margin-top: 10px;}

.grid-row {
    display: flex;
}

.grid-cell {
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(180, 175, 170, 1); */

    /* box-shadow: inset 0 0 0 10px rgba(200, 195, 188, 0); */
    /* box-shadow: inset 5px 5px 0 5px rgba(200, 195, 188, 1), inset -5px -5px 0 5px rgba(150, 145, 138, 1); */
    background-image: url('https://minesweeper.online/img/skins/hd/closed.svg?v=3');
    background-size: contain;
}