/* TwinklingStars.css */

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #eae8e4;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(234, 232, 228, 0.2);
    animation: twinkling 3s infinite;
}

@keyframes twinkling {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.2;
    }
}